.team {
    font-family: 'Oswald', sans-serif;
    padding: 50px 0;

    &__title {
        margin: 0 0 20px 0;
    }

    &-member {
        &__text {
            font-size: 50px;
            margin: 10px 0;
        }
    }
}